// Variable - colors
$color-green-500: hsl(158, 36%, 37%);
$color-green-700: hsl(158, 42%, 18%);
$color-black: hsl(212, 21%, 14%);
$color-grey: hsl(228, 12%, 48%);
$color-cream: hsl(30, 38%, 92%);
$color-white: hsl(0, 0%, 100%);
// Variable - fonts
$font-serif: 'Fraunces', serif;
$font-sans-serif: 'Montserrat', sans-serif;
$font-size-xxs: .75rem;
$font-size-xs: .8125rem;
$font-size-s: .875rem;
$font-size-m: 1rem;
$font-size-l: 2rem;
$line-height-xs: 1;
$line-height-s: 1.2;
$line-height-m: 1.6;
//Space - padding and margin
$space-s: .5rem;
$space-m: 1rem;
$space-l: 1.5rem;
$space-xl: 2rem;